html {
	font-size: 10pt;
}

.slidev-page,
.slidev-layout {

	overflow: hidden;

	h1 {
		@apply text-white shadow-md;
		/* Main maroon */
		background: #7a0019;
		margin-top: -4rem;
		margin-bottom: 2rem;
		margin-left: -5.5rem;
		margin-right: -5.5rem;
		padding: 3rem 3rem 1rem 3rem;
		width: 1000%;
		--un-shadow-opacity: 1;
		/* Dark maroon as shadow */
		--un-shadow-color: #5b0013;
	}

	&.center,
	&.cover,
	&.intro {
		h1 {
			/* no shadow for center/cover/intro titles */
			box-shadow: none;
			--un-shadow-opacity: 0;

			display: inline-block;
			padding: 1rem 5rem;
			border-radius: 1rem;
			width: unset;
			margin-top: unset;
			margin-left: unset;
			margin-right: unset;
		}
	}
}

.item {
	@apply shadow-md shadow-gray;
	margin: 1rem 0;
	border-radius: .5rem;
	overflow: hidden;

	html.dark & {
		/* darkest grey */
		--un-shadow-color: #333333;
	}

	header {
		padding: 0.5rem;
		color: #333333;
		/* Gold gradient header using dark/light gold */
		background: linear-gradient(135deg, #ffb71e, #ffcc33, #ffde7a);
		font-weight: 600;
	}

	main {
		padding: 0.5rem;
		/* light grey background */
		background: #d5d6d2;
		color: #333333;

		html.dark & {
			/* mid greys for dark mode */
			background: #5a5a5a;
			color: #fdfdfd;
		}
	}
}
